body{
    display: inline;
  align-items: center;
  justify-content: center;
  height: 200vh;
  margin: 0;
  font-family: Arial, sans-serif;
   
    
}
  
  header{
  display: flex;
  min-height: 70px;
  background-color: #262626;
  justify-content: space-between;
  font-family: 'League Spartan', sans-serif;
  align-items: center;
  padding: 15px;
  }
  .Buscar {
  top: 9px;
  width: 650px;
  margin-right: 10px;
  margin-left: 30px;
  height: 50px;
  }
  .logo img{
  height: 70px;
  width: 100px;
  margin-right: 20px;
  
  }
  .icono img{
  height: 70px;
  width: 70px;
  align-items: center;
  padding: 15px;
  justify-content: space-between;
  
  }
  .logo img:hover{
  background-color: black;
  color: #F57A3B;
  padding-bottom: 16px;
  }
  
  .icono img:hover{
  background-color: black;
  color: #F57A3B;
  padding-bottom: 16px;
  
  }
  
  h3{
  color: white;
  }
  .menu{
  display: flex;
  
  }
  
  
  
  nav a{
  text-decoration: none;
  color: white;
  font-weight: 600;
  padding: 30px;
  align-items: center;
  justify-content: space-between;
  }
  nav a:hover{
  background-color: black;
  color: #F57A3B;
  padding-bottom: 16px;
  }
   @media (max-width:700px){
    header{
      flex-direction: column;
    }
    
   }
  /* --------------------------------------------------------------- */

  #header{
    text-align: center;
    padding: 20px;
    color: black;
    font-family: 'League Spartan',sans-serif;
}

#content {
    width: 60%;
    max-width: 800px; 
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
  
}
.clasee{
  border: white;
  border-radius: 10px;
  color: black;
  background-color: #F2BFBF;
  height: 30px;
  width: 200px;
}

#movie-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.info-group {
    margin-bottom: 15px;
}

  
  /* ------------------------------------------------------------------------------ */
  footer {
  margin-top: 20px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  }
  
  footer a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.76);
  }
  
  footer h3 {
  font-family: 'League Spartan', sans-serif;
  color: white;
  }
  
  footer ul{
  list-style-type: none ;
  }
  
  
  #logofooter {
  width: 50px;
  height: 50px;
  margin-top: 15px;
  margin-left: 55px;
  }
  
  
  