body{
    display: inline;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
header{
  display: flex;
  min-height: 70px;
  background-color: #262626;
  justify-content: space-between;
  font-family: 'League Spartan', sans-serif;
  align-items: center;
  padding: 15px;
}
.Buscar {
  top: 9px;
  width: 650px;
  margin-right: 10px;
  margin-left: 30px;
  height: 50px;
}
.logo img{
height: 70px;
width: 100px;
margin-right: 20px;

}
.icono img{
  height: 70px;
  width: 70px;
  align-items: center;
  padding: 15px;
  justify-content: space-between;
  
}
.logo img:hover{
  background-color: black;
  color: #F57A3B;
  padding-bottom: 16px;
  }

.icono img:hover{
  background-color: black;
  color: #F57A3B;
  padding-bottom: 16px;
  
}

h3{
  color: white;
}
.menu{
  display: flex;
 
}



nav a{
  text-decoration: none;
  color: white;
  font-weight: 600;
  padding: 30px;
  align-items: center;
  justify-content: space-between;
}
nav a:hover{
  background-color: black;
  color: #F57A3B;
  padding-bottom: 16px;
}
 @media (max-width:500px){
  header{
    flex-direction: column;
  }
  
 }
 /* ------------------------------ */
#profile-container {
  margin-top: 100px;
  text-align: center;
  border: 2px solid #F57A3B;
  border-radius: 15px;
  padding: 20px;
  width: 450px;
  height: 550px;
}
#button {
  margin-top: 10px;
  text-align: center;
  border: #A65F58;
  background: linear-gradient(to right, rgb(253,175,19),rgba(240, 173, 40, 0.945));
  border-radius: 50px;
  width: 150px;
  height: 40px;
  color: #FCE5D8;
  font-family: 'League Spartan', sans-serif;
  font-size: 20px;
}
#button a{
  text-decoration: none;
  color: #FCE5D8;
  font-family: 'League Spartan', sans-serif;
  font-size: 20px;

}

#profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

#edit-button {
   margin-top: 20px;
   margin-bottom: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
} 

.persona{
  display: flex;
  padding: 15px;
  margin-top: 25px;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

}
.contacto{
  display: inline;

}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'League Spartan', sans-serif;
/* Establece la altura al 100% del viewport */
}

.titulo {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'League Spartan', sans-serif;
}
a img{
  width: 150px;
  height: 150px;


}

/* -------------------------------------------------------------- */
footer {
  margin-top: 20px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

footer a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.76);
}

footer h3 {
  font-family: 'League Spartan', sans-serif;
  color: white;
}

footer ul{
list-style-type: none ;
}


#logofooter {
  width: 50px;
  height: 50px;
  margin-top: 15px;
  margin-left: 55px;
  }


