body{
    display: inline;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(rgba(255, 102, 0, 0.705),rgba(255, 0, 0, 0.842));
}
header{
  display: flex;
  min-height: 70px;
  background-color: #262626;
  justify-content: space-between;
  font-family: 'League Spartan', sans-serif;
  align-items: center;
  padding: 15px;
}
.Buscar {
  top: 9px;
  width: 650px;
  margin-right: 10px;
  margin-left: 30px;
  height: 50px;
}
.logo img{
height: 70px;
width: 100px;
margin-right: 20px;

}
.icono img{
  height: 70px;
  width: 70px;
  align-items: center;
  padding: 15px;
  justify-content: space-between;
  
}
.logo img:hover{
  background-color: black;
  color: #F57A3B;
  padding-bottom: 16px;
  }

.icono img:hover{
  background-color: black;
  color: #F57A3B;
  padding-bottom: 16px;
  
}


.menu{
  display: flex;
 
}




nav a{
  text-decoration: none;
  color: white;
  font-weight: 600;
  padding: 30px;
  align-items: center;
  justify-content: space-between;
}
nav a:hover{
  background-color: black;
  color: #F57A3B;
  padding-bottom: 16px;
}
 @media (max-width:500px){
  header{
    flex-direction: column;
  }
}
/* ------------------------------------------------ */
.hoja{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.registro{
font-size: 40px;
font-family: 'League Spartan', sans-serif;
color: #FCE5D8;

}
.titulo{
  display: grid;
  place-items: center;
  margin-top: 30px;
  font-size: 65px;
  font-family: 'League Spartan', sans-serif;
  color: #FCE5D8;
  
}
section{
  font-family: 'League Spartan', sans-serif;
  color: #FCE5D8;
  
}
.clasee{
  border: white;
  border-radius: 10px;
  color: #F2BFBF;
  background-color: #F2BFBF;
  height: 30px;
  width: 200px;
}
.divregistro{
  display: grid;
  place-items: center;
  margin-right: 300px;
}
button{
  margin: 10px;
  border: #A65F58;
  background: linear-gradient(to right, rgb(253,175,19),rgba(241, 178, 53, 0.288));
  border-radius: 50px;
  width: 150px;
  height: 40px;
}

.button a{
  color: #FCE5D8;
  text-decoration: none;
  font-family: 'League Spartan', sans-serif;
  font-size: 20px;
}

.iconocentral{
margin-top: 50px;
width: 500px;
height: 100%;
margin-left: 200px;
}
#E-mail{
  width: 250px;
  
}
h4{
  margin-top: 10px;
  font-family: 'League Spartan', sans-serif; 
  color: #FCE5D8;
}

/* ----------------------------------------------------------- */
  footer {
    margin-top: 100px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  footer a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.76);
  }
  
  footer h3 {
    font-family: 'League Spartan', sans-serif;
    color: white;
  }
  
  footer ul{
  list-style-type: none ;
  }
  
  
  #logofooter {
    width: 50px;
    height: 50px;
    margin-top: 15px;
    margin-left: 55px;
    }
  