header{
    display: flex;
    background-color: #262626;
    height: 70px;
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
}

.Logo{
    width: 100px;
    height: 70px;
}

.person{
    margin-top: 10px;
    margin-left: 70px;
}

.Top{

    list-style-type: none;
    overflow: hidden;
    
}

.he{
    float: left;
    text-decoration: none;
}
.he a{
    display: block;
    color: white;
    text-align: center;
    margin-top: 5px;
   
    padding: 14px;
    text-decoration: none;
}
.he a:hover {
    background-color: black;
    color: #F57A3B;
    padding-bottom: 16px;
}
.Buscar{
    top: 9px;
    width: 800px;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 50px;
    height: 30px;
}